<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
    <% categories.forEach((category,i) => { i++ %>
        <tr>
            <td><%= i++ %> </td>
          <td><%= category.name %> </td>
          <td>
            <a href="/category/<%= category._id %>" class="btn btn-warning">Edit</a>
            <a href="/category/<%= category._id %>" class="btn btn-danger" role="button" onclick="return confirm('Anda Yakin?')">Delete</a>
          </td>
        </tr>
    <% }) %>
  </table>